<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div style="float:right">
<%=row.stu_name%>님 환영합니다~
<a href="https://google.com" class="button">개인정보</a>
<a href="https://naver.com" class="button">로그아웃</a>
</div>
<br>
<br>
<table border="1">
    <tr>
        <td><a href="https://naver.com">KWUniversity</a></td>
        <td><a href="https://naver.com">학습결과</a></td>
        <td><a href="https://naver.com">시간표</a></td>
        <td><a href="https://naver.com">수강신청</a></td>
        <td><a href="https://naver.com">공지사항</a></td>
        <td><a href="https://naver.com">친구 목록</a></td>
    </tr>
</table>

</body>
</html>