<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<div><%=rows.stu_name%>님 환영합니다~</div>
<a href="https://google.com" class="button">개인정보</a>
<a href="https://naver.com" class="button">로그아웃</a>
<br>
<br>
<table border="1">
    <tr>
        <td>KWUniversity</td>
        <td>학습결과</td>
        <td>시간표</td>
        <td>수강신청</td>
        <td>공지사항</td>
        <td>친구 목록</td>
    </tr>
    <tr>
        <td><a href="https://naver.com">KWUniversity</a></td>
        <td><a href="https://naver.com">학습결과</a></td>
        <td><a href="https://naver.com">시간표</a></td>
        <td><a href="https://naver.com">수강신청</a></td>
        <td><a href="https://naver.com">공지사항</a></td>
        <td><a href="https://naver.com">친구 목록</a></td>
    </tr>
</table>

</body>
</html>